
        <h2 id="general_Friday">Friday – August 19</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (local)</th>
                    <th>Auditorium A</th>
                    <th>Auditorium B</th>
                    <th>Workshops and Loop-Cinema - Room 103 <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>HOT unSummit Sessions - Room 102</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-19T08:00:00Z">10:00</a></td>
                        <td rowspan="1" id="session_QFUTA7">
        <a href="/sessions/QFUTA7">Opening Session</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-19T08:30:00Z">10:30</a></td>
                        <td rowspan="1" id="session_URUJH8">
        <a href="/sessions/URUJH8">State of Independence</a>    <br><span class="speaker">Richard Fairhurst
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-19T09:00:00Z">11:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-19T09:30:00Z">11:30</a></td>
                        <td rowspan="1" id="session_RRUH8S">
        <a href="/sessions/RRUH8S">10 Years Of MapRoulette</a>    <br><span class="speaker">Martijn van Exel
    </span>
</td>
<td></td><td rowspan="2" id="session_D7BFKR">
        <a href="/sessions/D7BFKR">JOSM: Beyond Basic Editing</a>    <br><span class="speaker">Sharon Omoja, Michael Heißmeier
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-19T10:00:00Z">12:00</a></td>
                        <td rowspan="1" id="session_UWHAME">
        <a href="/sessions/UWHAME">Entry-level Mobile Mapping</a>    <br><span class="speaker">Kristen Tonga
    </span>
</td>
<td rowspan="1" id="session_3EREXZ">
        <a href="/sessions/3EREXZ">OSM Carto as vector tiles</a>    <br><span class="speaker">Jiri Komarek, Wladimir Szczerban
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-19T10:30:00Z">12:30</a></td>
                        <td rowspan="1" id="session_HGFY7Z">
        <a href="/sessions/HGFY7Z">Admin Boundary Conflation Tool</a>    <br><span class="speaker">Branko Kokanovic
    </span>
</td>
<td rowspan="1" id="session_EHZQXV">
        <a href="/sessions/EHZQXV">usability testing with three people - how to discover why mappers are confused by your software</a>    <br><span class="speaker">Mateusz Konieczny
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-19T11:00:00Z">13:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Lunch</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-19T12:30:00Z">14:30</a></td>
                        <td rowspan="1" id="session_VXECJQ">
        <a href="/sessions/VXECJQ">Innovating on derivative OpenStreetMap datasets</a>    <br><span class="speaker">Brandon Liu
    </span>
</td>
<td rowspan="1" id="session_ZVLDMZ">
        <a href="/sessions/ZVLDMZ">Lightning talks I</a>    <br><span class="speaker">Various Speakers
    </span>
</td>
<td rowspan="2" id="session_HTEZJY">
        <a href="/sessions/HTEZJY">Local Chapters Congress</a>    <br><span class="speaker">Joost Schouppe, Local Chapters &amp; Communities Working Group, Maggie Cawley, Anisa Kuci, Geoffrey Kateregga
    </span>
</td>
<td rowspan="3" id="session_LNYHQF">
        <a href="/sessions/LNYHQF">HOT unSummit humanitarian sessions</a>    <br><span class="speaker">
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-19T13:00:00Z">15:00</a></td>
                        <td rowspan="1" id="session_HZUFPQ">
        <a href="/sessions/HZUFPQ">None: a story of data that isn&#39;t there</a>    <br><span class="speaker">Gala, Simona Ciocoiu
    </span>
</td>
<td rowspan="1" id="session_N9VWB9">
        <a href="/sessions/N9VWB9">OpenStreetMap data for climate change response initiatives</a>    <br><span class="speaker">Luc Kpogbe
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-19T13:30:00Z">15:30</a></td>
                        <td rowspan="1" id="session_W3AGY8">
        <a href="/sessions/W3AGY8">Evolving the OSM Data Model</a>    <br><span class="speaker">Jochen Topf
    </span>
</td>
<td rowspan="1" id="session_FABJFJ">
        <a href="/sessions/FABJFJ">Integrating OpenStreetMap in the local governance of Nepal</a>    <br><span class="speaker">Aishworya Shrestha, Sushma Ghimire
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-19T14:00:00Z">16:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-19T14:30:00Z">16:30</a></td>
                        <td rowspan="2" id="session_NAF9EN">
        <a href="/sessions/NAF9EN">What you map is not always what you get</a>    <br><span class="speaker">Sarah Hoffmann, Richard Fairhurst
    </span>
</td>
<td rowspan="1" id="session_SA77RH">
        <a href="/sessions/SA77RH">Mapping a Small Town</a>    <br><span class="speaker">Christopher Beddow
    </span>
</td>
<td rowspan="2" id="session_HLTKHD">
        <a href="/sessions/HLTKHD">Lightning talks V</a>    <br><span class="speaker">Various Speakers
    </span>
</td>
<td rowspan="3" id="session_LNYHQF">
        <a href="/sessions/LNYHQF">HOT unSummit humanitarian sessions</a>    <br><span class="speaker">
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-19T15:00:00Z">17:00</a></td>
                        <td rowspan="1" id="session_YXMUVT">
        <a href="/sessions/YXMUVT">UX for hyperlocal map in Southeast Asia</a>    <br><span class="speaker">Low Ko Wee, Sriram Iyer
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-19T15:30:00Z">17:30</a></td>
                        <td rowspan="1" id="session_YWH3XD">
        <a href="/sessions/YWH3XD">Inferring default speed limits</a>    <br><span class="speaker">Tobias Zwick
    </span>
</td>
<td rowspan="1" id="session_VJMH9U">
        <a href="/sessions/VJMH9U">Lightning talks II</a>    <br><span class="speaker">Various Speakers
    </span>
</td>
<td rowspan="1" id="session_VECREV">
        <a href="/sessions/VECREV">maplibre-rs: Cross-platform Map Rendering using Rust</a>    <br><span class="speaker">Max Ammann
    </span>
</td>
                    </tr>
             </tbody>
        </table>
        <h2 id="general_Saturday">Saturday – August 20</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (local)</th>
                    <th>Auditorium A</th>
                    <th>Auditorium B</th>
                    <th>Workshops and Loop-Cinema - Room 103 <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Online Workshops <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-20T07:30:00Z">09:30</a></td>
                        <td rowspan="1" id="session_HEHHCH">
        <a href="/sessions/HEHHCH">OpenStreetMap in the Cloud</a>    <br><span class="speaker">Sajjad Anwar
    </span>
</td>
<td></td><td rowspan="2" id="session_3YK7NM">
        <a href="/sessions/3YK7NM">Engaging in OSM</a>    <br><span class="speaker">Heather Leson, Kate Chapman, Chad Blevins, Allan Mustard, Miriam Gonzalez, Geoffrey Kateregga, Liz Barry
    </span>
</td>
<td rowspan="2" id="session_SBZXTS">
        <a href="/sessions/SBZXTS">Electrifying OSM with RapiD and Mapillary</a>    <br><span class="speaker">Patricia Solis, Christopher Beddow
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-20T08:00:00Z">10:00</a></td>
                        <td rowspan="1" id="session_HBBZKV">
        <a href="/sessions/HBBZKV">The MapOSMatic APIs - generate printable maps from your own application</a>    <br><span class="speaker">Hartmut Holzgraefe
    </span>
</td>
<td rowspan="1" id="session_U77MUX">
        <a href="/sessions/U77MUX">Building an OpenStreetMap Community Playbook</a>    <br><span class="speaker">Sharon Omoja, Geoffrey Kateregga
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-20T08:30:00Z">10:30</a></td>
                        <td rowspan="1" id="session_YAYNSB">
        <a href="/sessions/YAYNSB">Pedestrian and Bike Mapping in New York City</a>    <br><span class="speaker">Ariel Kadouri
    </span>
</td>
<td rowspan="1" id="session_TJMAQT">
        <a href="/sessions/TJMAQT">Linking OpenStreetMap and Wikidata: Case study of Taiwan&#39;s villages and rivers dataset</a>    <br><span class="speaker">Dennis Raylin Chen
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-20T09:00:00Z">11:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-20T09:30:00Z">11:30</a></td>
                        <td rowspan="1" id="session_B7VADW">
        <a href="/sessions/B7VADW">MapBuilder - The simplest OSM editorial tool</a>    <br><span class="speaker">Nemanja Bracko
    </span>
</td>
<td rowspan="1" id="session_GCLYZE">
        <a href="/sessions/GCLYZE">OpenStreetMap in schools: The case study of Bari</a>    <br><span class="speaker">Ferdinando Traversa, Rosa Colacicco
    </span>
</td>
<td rowspan="3" id="session_HLTKHD">
        <a href="/sessions/HLTKHD">Lightning talks V</a>    <br><span class="speaker">Various Speakers
    </span>
</td><td></td></tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-20T10:00:00Z">12:00</a></td>
                        <td rowspan="1" id="session_C9AKZK">
        <a href="/sessions/C9AKZK">10 Years iD Editor – The Road Ahead</a>    <br><span class="speaker">Martin Raifer
    </span>
</td>
<td rowspan="2" id="session_SCBZ9Q">
        <a href="/sessions/SCBZ9Q">Educational initiatives and platforms on OpenStreetMap: making open data more accessible</a>    <br><span class="speaker">Michael Montani
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-20T10:30:00Z">12:30</a></td>
                        <td rowspan="1" id="session_ACCWJY">
        <a href="/sessions/ACCWJY">Every Door and the Future of POI in OpenStreetMap</a>    <br><span class="speaker">Ilya Zverev
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-20T11:00:00Z">13:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Lunch</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-20T12:30:00Z">14:30</a></td>
                        <td rowspan="1" id="session_A8JLUY">
        <a href="/sessions/A8JLUY">How to kill OSM? Above all, change nothing</a>    <br><span class="speaker">Florian Lainez
    </span>
</td>
<td rowspan="1" id="session_FJWKRV">
        <a href="/sessions/FJWKRV">Digital Champions fighting Gender Based Violence in rural Tanzania with maps</a>    <br><span class="speaker">Janet Chapman
    </span>
</td>
<td rowspan="2" id="session_JEXYHK">
        <a href="/sessions/JEXYHK">OSM for sustainable transport planning: getting started</a>    <br><span class="speaker">Greta Timaite, James Hulse
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-20T13:00:00Z">15:00</a></td>
                        <td rowspan="2" id="session_AT3YM7">
        <a href="/sessions/AT3YM7">OSMF Board AMA</a>    <br><span class="speaker">Amanda McCann
    </span>
</td>
<td rowspan="1" id="session_ZUEAUV">
        <a href="/sessions/ZUEAUV">Women Leadership in Mapping Riverside Communities in the Amazon Forest Using OSM</a>    <br><span class="speaker">Ana Luísa Teixeira, Silvia Elena Ventorini, Natalia da Silveira Arruda
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-20T13:30:00Z">15:30</a></td>
                        <td rowspan="1" id="session_DKLT7X">
        <a href="/sessions/DKLT7X">A review of Mapillary-generated map data and how accuracy compares across devices</a>    <br><span class="speaker">Said Turksever
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-20T14:00:00Z">16:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-20T14:30:00Z">16:30</a></td>
                        <td rowspan="1" id="session_AKYJPG">
        <a href="/sessions/AKYJPG">State of OSM in QGIS</a>    <br><span class="speaker">Etienne Trimaille
    </span>
</td>
<td rowspan="1" id="session_FGDY3F">
        <a href="/sessions/FGDY3F">Lightning talks III</a>    <br><span class="speaker">Various Speakers
    </span>
</td>
<td rowspan="2" id="session_R7GW3X">
        <a href="/sessions/R7GW3X">Analyzing changes in OSM over time - full history access to OSM data through the ohsome framework</a>    <br><span class="speaker">Benjamin Herfort, Rafael Troilo
    </span>
</td>
<td rowspan="2" id="session_3YK7NM_2">
  <a href="/sessions/3YK7NM">Engaging in OSM</a>
  <br><span class="speaker">Heather Leson</span>
</td></tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-20T15:00:00Z">17:00</a></td>
                        <td rowspan="1" id="session_D8XYDN">
        <a href="/sessions/D8XYDN">Running OpenStreetMap.org - Today and Tomorrow</a>    <br><span class="speaker">Grant Slater
    </span>
</td>
<td rowspan="1" id="session_GNEJ9G">
        <a href="/sessions/GNEJ9G">Satellite Imagery for Social Good - Our Reflections</a>    <br><span class="speaker">Shamilah Nassozi
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-20T15:30:00Z">17:30</a></td>
                        <td rowspan="1" id="session_CFVMU7">
        <a href="/sessions/CFVMU7">Public Domain Map: Crowdsourcing the Future of Government Data</a>    <br><span class="speaker">Jess Beutler, James McAndrew
    </span>
</td>
<td rowspan="1" id="session_3MMV93">
        <a href="/sessions/3MMV93">Localization as an inclusion and participatory enabler research</a>    <br><span class="speaker">Arnalie Vicario
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-20T18:00:00Z">20:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak"><a href="/events/">Social Event</a></td>
                                            </tr>
             </tbody>
        </table>
        <h2 id="general_Sunday">Sunday – August 21</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (local)</th>
                    <th>Auditorium A</th>
                    <th>Auditorium B</th>
                    <th>Workshops and Loop-Cinema - Room 103 <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                    <th>Online Workshops <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-21T06:55:00Z">08:55</a></td>
                        <td></td><td rowspan="1" id="session_RBZHX7">
        <a href="/sessions/RBZHX7">Opening Session - Academic Track</a>&nbsp;<span title="academic talk">🎓</span>
    <br><span class="speaker">Yair Grinberger &amp; Marco Minghini
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-21T07:00:00Z">09:00</a></td>
                        <td></td><td rowspan="1" id="session_JRN9DN">
        <a href="/sessions/JRN9DN">Increasing OpenStreetMap Data Accessibility with the Analysis-Ready Daylight Distribution of OpenStreetMap: A Demonstration of Cloud-Based Assessments of Global Building Completeness</a>&nbsp;<span title="academic talk">🎓</span>
    <br><span class="speaker">Jennings Anderson, Timmera Whaley Omidire
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-21T07:30:00Z">09:30</a></td>
                        <td rowspan="1" id="session_GNG37Y">
        <a href="/sessions/GNG37Y">Crowdsourcing and virtual reality applications for peacekeeping: study cases in Mogadishu and Tripoli</a>    <br><span class="speaker">Michael Montani
    </span>
</td>
<td rowspan="1" id="session_JNJKYR">
        <a href="/sessions/JNJKYR">OSM Sidewalkreator - A QGIS plugin for automated sidewalk drawing for OSM</a>&nbsp;<span title="academic talk">🎓</span>
    <br><span class="speaker">Kauê de Moraes Vestena
    </span>
</td>
<td rowspan="3" id="session_HLTKHD">
        <a href="/sessions/HLTKHD">Lightning talks V</a>    <br><span class="speaker">Various Speakers
    </span>
</td>
<td rowspan="2"><a href="/sessions/JEXYHK">OSM for sustainable transport planning: getting started</a><br><span class="speaker">Greta Timaite, James Hulse</span></td></tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-21T08:00:00Z">10:00</a></td>
                        <td rowspan="1" id="session_9NHQQM">
        <a href="/sessions/9NHQQM">osm2streets: Street networks with detailed geometry</a>    <br><span class="speaker">Dustin Carlino
    </span>
</td>
<td rowspan="1" id="session_YU9JHN">
        <a href="/sessions/YU9JHN">Comparative Integration Potential Analyses of OSM and Wikidata – the Case Study of Railway Stations</a>&nbsp;<span title="academic talk">🎓</span>
    <br><span class="speaker">Moritz Schott, Alishiba Dsouza
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-21T08:30:00Z">10:30</a></td>
                        <td rowspan="1" id="session_RHF3UX">
        <a href="/sessions/RHF3UX">Exploring Human Bias and Effects of Training in OSM mapping: A Behavioral Experiment in Singapore</a>    <br><span class="speaker">Shiyue Zhong
    </span>
</td>
<td><a href="/sessions/academic_lightning_talks_1">Academic Lightning Talks I</a>&nbsp;<span title="academic talk">🎓</span></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-21T09:00:00Z">11:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-21T09:30:00Z">11:30</a></td>
                        <td rowspan="1" id="session_LKZYJ7">
        <a href="/sessions/LKZYJ7">Routing not only for Prams</a>    <br><span class="speaker">Roland Olbricht
    </span>
</td>
<td rowspan="1" id="session_ASADTB">
        <a href="/sessions/ASADTB">Automated derivation of public urban green spaces via activity-related barriers using OpenStreetMap.</a>&nbsp;<span title="academic talk">🎓</span>
    <br><span class="speaker">Theodor Rieche
    </span>
</td>
<td rowspan="2" id="session_SBZXTS_2">
  <a href="/sessions/SBZXTS">Electrifying OSM with RapiD and Mapillary</a>
  <br><span class="speaker">Patricia Solis, Christopher Beddow</span>
</td><td></td></tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-21T10:00:00Z">12:00</a></td>
                        <td rowspan="1" id="session_CUV9H7">
        <a href="/sessions/CUV9H7">OSM &amp; Trails: New Collaborations for Responsible Recreation</a>    <br><span class="speaker">Maggie Cawley
    </span>
</td>
<td rowspan="1" id="session_LTA77E">
        <a href="/sessions/LTA77E">Null Island - a node of contention in OpenStreetMap</a>&nbsp;<span title="academic talk">🎓</span>
    <br><span class="speaker">Peter Mooney, Levente Juhász
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-21T10:30:00Z">12:30</a></td>
                        <td rowspan="1" id="session_NNKX8K">
        <a href="/sessions/NNKX8K">Lightning talks IV</a>    <br><span class="speaker">Various Speakers
    </span>
</td>
<td rowspan="1" id="session_CEMMTQ">
        <a href="/sessions/CEMMTQ">OSM for sustainable transport planning</a>&nbsp;<span title="academic talk">🎓</span>
    <br><span class="speaker">Robin Lovelace, Greta Timaite, James Hulse
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-21T11:00:00Z">13:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Lunch</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-21T12:00:00Z">14:00</a></td>
                        <td></td><td><a href="/sessions/academic_lightning_talks_2">Academic Lightning Talks II</a>&nbsp;<span title="academic talk">🎓</span></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-21T12:30:00Z">14:30</a></td>
                        <td rowspan="1" id="session_HEKRDY">
        <a href="/sessions/HEKRDY">OSM and indoor data</a>    <br><span class="speaker">Clement Igonet
    </span>
</td>
<td rowspan="1" id="session_THYCMA">
        <a href="/sessions/THYCMA">YouthMappers: A Hybrid Movement Design for the OpenStreetMap Community of Communities</a>&nbsp;<span title="academic talk">🎓</span>
    <br><span class="speaker">Patricia Solis
    </span>
</td>
<td rowspan="3" id="session_VKDYN7">
        <a href="/sessions/VKDYN7">Creating your own MapComplete theme</a>    <br><span class="speaker">Pieter Vander Vennet
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-21T12:55:00Z">14:55</a></td>
                        <td></td><td rowspan="2" id="session_3YQRDX">
        <a href="/sessions/3YQRDX">Landmarks for accessible space – promoting geo-literacy through geospatial citizen science</a>&nbsp;<span title="academic talk">🎓</span>
    <br><span class="speaker">Sagi Dalyot
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-21T13:00:00Z">15:00</a></td>
                        <td rowspan="1" id="session_XJZBFH">
        <a href="/sessions/XJZBFH">The OpenStreetMap Use for Medical Humanitarian Operations by Médecins Sans Frontières</a>    <br><span class="speaker">Jana Bauerova
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-21T13:30:00Z">15:30</a></td>
                        <td rowspan="1" id="session_MRK3C8">
        <a href="/sessions/MRK3C8">Wikimedia Italia - What is it doing for the Italian OSM community?</a>    <br><span class="speaker">Anisa Kuci
    </span>
</td>
<td rowspan="1" id="session_NWB9QF">
        <a href="/sessions/NWB9QF">Mapping crises, communities and capitalism on OpenStreetMap: situating humanitarian mapping in the (open source) mapping supply chain</a>&nbsp;<span title="academic talk">🎓</span>
    <br><span class="speaker">Anne Lee Steele
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-21T14:00:00Z">16:00</a></td>
                        <td rowspan="1" id="session_LX3EGF">
        <a href="/sessions/LX3EGF">Closing Session</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2022-08-21T15:00:00Z">17:00</a></td>
                        <td colspan="4" class="fill-darken0 scheduleBreak">Coffee and Snacks</td>
                                            </tr>
             </tbody>
        </table>

