
        <h2 id="general_Friday">Friday – July 9</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (UTC)</th>
                    <th>Track 1 - Talks</th>
                    <th>Track 2 - Panels and Workshops <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-09T10:00:00Z">10:00</a></td>
                        <td rowspan="1" id="session_3NWQYN">
        <a href="/sessions/3NWQYN">Opening</a>
            <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-09T10:20:00Z">10:20</a></td>
                        <td rowspan="1" id="session_BWLNAC">
        <a href="/sessions/BWLNAC">Map-Less Map Editors</a>
            <br><span class="speaker">Ilya Zverev
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-09T10:45:00Z">10:45</a></td>
                        <td rowspan="1" id="session_D7JREJ">
        <a href="/sessions/D7JREJ">Journey to improving the Navigation experience for Grab Driver partners using OSM</a>
            <br><span class="speaker">Jinal Foflia, aparna alla
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-09T11:30:00Z">11:30</a></td>
                        <td rowspan="1" id="session_XLDXW9">
        <a href="/sessions/XLDXW9">From global to local OSM mapping, CartONG’s overall OSM based strategy to support humanitarian response in refugee camp</a>
            <br><span class="speaker">Martin Noblecourt, Manon Viou, Olivier Ribiere
    </span>
</td>
<td rowspan="2" id="session_JDKBXY">
        <a href="/sessions/JDKBXY">Identifying Unmapped Highway in OSM</a>
            <br><span class="speaker">Yantisa Akhadi, Emiliani Dewi
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-09T12:15:00Z">12:15</a></td>
                        <td rowspan="1" id="session_TPKBQ9">
        <a href="/sessions/TPKBQ9">MapaTanda: Mapping for and with the Ageing Population</a>
            <br><span class="speaker">Kris Libunao
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-09T13:00:00Z">13:00</a></td>
                        <td rowspan="1" id="session_ZVL93H">
        <a href="/sessions/ZVL93H">3D Rendering with OSM2World</a>
            <br><span class="speaker">Tobias Knerr
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-09T13:45:00Z">13:45</a></td>
                        <td colspan="2" class="fill-darken0 scheduleBreak">break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-09T15:00:00Z">15:00</a></td>
                        <td rowspan="1" id="session_RJZRZ8">
        <a href="/sessions/RJZRZ8">OSM data: Privacy Risks and GDPR compliance</a>
            <br><span class="speaker">Robert Riemann
    </span>
</td>
<td rowspan="2" id="session_UVEAX9">
        <a href="/sessions/UVEAX9">Ethical Mapping with and for People Living with Vulnerability</a>
            <br><span class="speaker">Courtney Clark
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-09T15:45:00Z">15:45</a></td>
                        <td rowspan="1" id="session_QUHKNR">
        <a href="/sessions/QUHKNR">Boundaries, Places and the Future of Tagging</a>
            <br><span class="speaker">Sarah Hoffmann
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-09T16:30:00Z">16:30</a></td>
                        <td rowspan="1" id="session_3E98CC">
        <a href="/sessions/3E98CC">Introduction and review of MapComplete</a>
            <br><span class="speaker">Pieter Vander Vennet
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-09T17:15:00Z">17:15</a></td>
                        <td rowspan="1" id="session_9R7LZF">
        <a href="/sessions/9R7LZF">Makina Maps</a>
            <br><span class="speaker">Frédéric Rodrigo
    </span>
</td>
<td rowspan="2" id="session_UYEXWN">
        <a href="/sessions/UYEXWN">Why Does Sexism within OpenStreetMap Matter?</a>
            <br><span class="speaker">Airin Akter, Courtney Clark
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-09T18:00:00Z">18:00</a></td>
                        <td rowspan="1" id="session_ZZ39T9">
        <a href="/sessions/ZZ39T9">Lightning Talks I</a>
            <br><span class="speaker">SotM Working Group
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-09T18:45:00Z">18:45</a></td>
                        <td colspan="2" class="fill-darken0 scheduleBreak">break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-09T20:00:00Z">20:00</a></td>
                        <td rowspan="1" id="session_RSLM3H">
        <a href="/sessions/RSLM3H">Linting the map together: Collaborations of Mapbox Data RAVE and OpenStreetMap Communities</a>
            <br><span class="speaker">Vlada Boitsik
    </span>
</td>
<td rowspan="2" id="session_LY9GPR">
        <a href="/sessions/LY9GPR">OpenStreetMap &amp; Governments Around the World</a>
            <br><span class="speaker">The Local Chapters and Communities Working Group
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-09T20:45:00Z">20:45</a></td>
                        <td rowspan="1" id="session_MXBCZY">
        <a href="/sessions/MXBCZY">Improving OSM Data in Coastal Communities</a>
            <br><span class="speaker">Monica Brandeis
    </span>
</td>
                    </tr>
             </tbody>
        </table>
        <h2 id="general_Saturday">Saturday – July 10</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (UTC)</th>
                    <th>Track 1 - Talks</th>
                    <th>Track 2 - Panels and Workshops <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-10T10:00:00Z">10:00</a></td>
                        <td rowspan="1" id="session_R3ZXY7">
        <a href="/sessions/R3ZXY7">How to map a city&#39;s public transport during a pandemic</a>
            <br><span class="speaker">Christoph Hanser
    </span>
</td>
<td rowspan="2" id="session_QLVGQK">
        <a href="/sessions/QLVGQK">Exploring Sound maps using OpenStreetMap data and FOSS through MANILAud: Metro Manila Soundscapes</a>
            <br><span class="speaker">Andi Tabinas, Jewel Templonuevo
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-10T10:45:00Z">10:45</a></td>
                        <td rowspan="1" id="session_GEKXWL">
        <a href="/sessions/GEKXWL">With Great Power Comes Great Responsibility</a>
            <br><span class="speaker">Frederik Ramm
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-10T11:30:00Z">11:30</a></td>
                        <td rowspan="1" id="session_W7FP3J">
        <a href="/sessions/W7FP3J">Collection and use of data about entrances of buildings</a>
            <br><span class="speaker">Tuukka Hastrup, Johan Lindqvist
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-10T12:15:00Z">12:15</a></td>
                        <td rowspan="1" id="session_EHQ7GH">
        <a href="/sessions/EHQ7GH">Mapping unmapped towns in Turkey by building and enlarging OpenStreetMap Turkey community</a>
            <br><span class="speaker">Said Turksever, Oğuzhan Er
    </span>
</td>
<td rowspan="2" id="session_HUXHSR">
        <a href="/sessions/HUXHSR">AOSMFBAAAoAAAA</a>
            <br><span class="speaker">Tobias Knerr, Guillaume Rischard, Allan Mustard, R. A. McCann, Jean-Marc Liotier
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-10T13:00:00Z">13:00</a></td>
                        <td rowspan="1" id="session_ZLK9X9">
        <a href="/sessions/ZLK9X9">Lightning Talks II</a>
            <br><span class="speaker">SotM Working Group
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-10T13:45:00Z">13:45</a></td>
                        <td colspan="2" class="fill-darken0 scheduleBreak">break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-10T15:00:00Z">15:00</a></td>
                        <td rowspan="1" id="session_7M7WVX">
        <a href="/sessions/7M7WVX">How StreetComplete handles edits</a>
            <br><span class="speaker">Tobias Zwick
    </span>
</td>
<td rowspan="2" id="session_Z3U8JX">
        <a href="/sessions/Z3U8JX">Imports and Bulk Edits, Community Style: MapRoulette Cooperative Challenges</a>
            <br><span class="speaker">Martijn van Exel
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-10T15:45:00Z">15:45</a></td>
                        <td rowspan="1" id="session_7RWSWA">
        <a href="/sessions/7RWSWA">News from osm2pgsql</a>
            <br><span class="speaker">Jochen Topf
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-10T16:30:00Z">16:30</a></td>
                        <td rowspan="1" id="session_ZCUPCF">
        <a href="/sessions/ZCUPCF">Mapping Heritage in Ireland - A Journey</a>
            <br><span class="speaker">Anne-Karoline Distel
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-10T17:15:00Z">17:15</a></td>
                        <td rowspan="1" id="session_RC7S8K">
        <a href="/sessions/RC7S8K">MapLibre - community driven Mapbox GL fork</a>
            <br><span class="speaker">Petr Pridal
    </span>
</td>
<td rowspan="2" id="session_CSYPDL">
        <a href="/sessions/CSYPDL">Feedback on building OSM communities in the south</a>
            <br><span class="speaker">Nathalie SIDIBE
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-10T18:00:00Z">18:00</a></td>
                        <td rowspan="1" id="session_RFGVSG">
        <a href="/sessions/RFGVSG">OpenStreetMap and the neglected pedestrian</a>
            <br><span class="speaker">Edoardo Neerhut
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-10T18:45:00Z">18:45</a></td>
                        <td colspan="2" class="fill-darken0 scheduleBreak">break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-10T20:00:00Z">20:00</a></td>
                        <td rowspan="1" id="session_GGLYCK">
        <a href="/sessions/GGLYCK">OpenStreetMap Standard Layer: Who uses it?</a>
            <br><span class="speaker">Paul Norman
    </span>
</td>
<td rowspan="2" id="session_MDD8PE">
        <a href="/sessions/MDD8PE">Paid-Editing, Open Datasets, and AI-Mapping Tools: A Panel Discussion with Corporations Active in OpenStreetMap</a>
            <br><span class="speaker">Jennings Anderson
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-10T20:45:00Z">20:45</a></td>
                        <td rowspan="1" id="session_L9XART">
        <a href="/sessions/L9XART">Community growth: What we learned about improving the membership and diversity of OSM Kenya through the community impact microgrants.</a>
            <br><span class="speaker">Laura Mugeha
    </span>
</td>
                    </tr>
             </tbody>
        </table>
        <h2 id="general_Sunday">Sunday – July 11</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (UTC)</th>
                    <th>Track 1 - Talks</th>
                    <th>Track 2 - Panels and Workshops <img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording" title="Sessions in this room will not be recorded."></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-11T10:00:00Z">10:00</a></td>
                        <td rowspan="1" id="session_GDMBWS">
        <a href="/sessions/GDMBWS">NLMaps Web: A Natural Language Interface to OpenStreetMap</a>
        &nbsp;<span title="academic talk">🎓</span>    <br><span class="speaker">Simon Will
    </span>
</td>
<td rowspan="2" id="session_YANREF">
        <a href="/sessions/YANREF">Acquire and visualise OSM data with R</a>
            <br><span class="speaker">Stéphane Guillou
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-11T10:45:00Z">10:45</a></td>
                        <td rowspan="1" id="session_RHR7Q8">
        <a href="/sessions/RHR7Q8">What has machine learning ever done for us?</a>
        &nbsp;<span title="academic talk">🎓</span>    <br><span class="speaker">Peter Mooney
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-11T11:30:00Z">11:30</a></td>
                        <td rowspan="1" id="session_NTNSQE">
        <a href="/sessions/NTNSQE">Towards a framework for measuring local data contribution in OpenStreetMap</a>
        &nbsp;<span title="academic talk">🎓</span>    <br><span class="speaker">Maxwell Owusu
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-11T12:15:00Z">12:15</a></td>
                        <td rowspan="1" id="session_PPSHC3">
        <a href="/sessions/PPSHC3">Community Interactions in OSM editing</a>
        &nbsp;<span title="academic talk">🎓</span>    <br><span class="speaker">Jennings Anderson, Dipto Sarkar
    </span>
</td>
<td rowspan="2" id="session_7SUKCQ">
        <a href="/sessions/7SUKCQ">Understanding the map - OSM-Carto map reading Q&amp;A</a>
            <br><span class="speaker">Christoph Hormann
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-11T13:00:00Z">13:00</a></td>
                        <td rowspan="1" id="session_LY9Z8C">
        <a href="/sessions/LY9Z8C">Towards understanding the temporal accuracy of OpenStreetMap: A quantitative experiment</a>
        &nbsp;<span title="academic talk">🎓</span>    <br><span class="speaker">Levente Juhász
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-11T13:45:00Z">13:45</a></td>
                        <td colspan="2" class="fill-darken0 scheduleBreak">break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-11T15:00:00Z">15:00</a></td>
                        <td rowspan="1" id="session_EP7JNK">
        <a href="/sessions/EP7JNK">Dealing with Quantity vs Quality</a>
            <br><span class="speaker">Enock Seth Nyamador
    </span>
</td>
<td rowspan="1" id="session_3MTGA3">
        <a href="/sessions/3MTGA3">A proposal for a QGIS Plugin for Spatio-temporal analysis of OSM data quality: the case study for the city of Salvador, Brazil</a>
        &nbsp;<span title="academic talk">🎓</span>    <br><span class="speaker">Elias Nasr Naim Elias
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-11T15:45:00Z">15:45</a></td>
                        <td rowspan="1" id="session_3CZDTS">
        <a href="/sessions/3CZDTS">Lightning Talks III</a>
            <br><span class="speaker">SotM Working Group
    </span>
</td>
<td rowspan="1" id="session_9XQTVC">
        <a href="/sessions/9XQTVC">Introducing OpenStreetMap User Embeddings: Promising Steps Toward Automated Vandalism and Community Detection</a>
        &nbsp;<span title="academic talk">🎓</span>    <br><span class="speaker">Jennings Anderson, Yinxiao Li
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-11T16:30:00Z">16:30</a></td>
                        <td rowspan="1" id="session_JGF9WA">
        <a href="/sessions/JGF9WA">A new map renderer for OSM? Rasters, vectors, language and internationalization</a>
            <br><span class="speaker">Brandon Liu
    </span>
</td>
<td rowspan="1" id="session_XXFEXQ">
        <a href="/sessions/XXFEXQ">An Automated Approach to Identifying Corporate Editing Activity in OpenStreetMap</a>
        &nbsp;<span title="academic talk">🎓</span>    <br><span class="speaker">Veniamin Veselovsky
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-11T17:15:00Z">17:15</a></td>
                        <td rowspan="1" id="session_FV8QGF">
        <a href="/sessions/FV8QGF">Overpass API since 10 years</a>
            <br><span class="speaker">Dr. Roland Olbricht
    </span>
</td>
<td rowspan="1" id="session_DGPAWN">
        <a href="/sessions/DGPAWN">Involvement of OpenStreetMap in European H2020 Projects</a>
        &nbsp;<span title="academic talk">🎓</span>    <br><span class="speaker">Damien Graux, Thibaud Michel
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-11T18:00:00Z">18:00</a></td>
                        <td rowspan="1" id="session_PHJ83R">
        <a href="/sessions/PHJ83R">Why OSM is not known more widely - about consequences of not enforcing attribution requirements</a>
            <br><span class="speaker">Mateusz Konieczny
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-11T18:45:00Z">18:45</a></td>
                        <td colspan="2" class="fill-darken0 scheduleBreak">break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-11T20:00:00Z">20:00</a></td>
                        <td rowspan="1" id="session_EBQEZJ">
        <a href="/sessions/EBQEZJ">Building a global outdoor map</a>
            <br><span class="speaker">Jiri Komarek
    </span>
</td>
<td rowspan="2" id="session_WD8BGF">
        <a href="/sessions/WD8BGF">Making your own MapComplete theme</a>
            <br><span class="speaker">Pieter Vander Vennet
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-11T20:45:00Z">20:45</a></td>
                        <td rowspan="1" id="session_JNVWZS">
        <a href="/sessions/JNVWZS">A/B Street: Using OSM for transportation advocacy</a>
            <br><span class="speaker">Dustin Carlino
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2021-07-11T21:30:00Z">21:30</a></td>
                        <td rowspan="1" id="session_PRZUTW">
        <a href="/sessions/PRZUTW">Closing</a>
            <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td>                    </tr>
             </tbody>
        </table>

