
        <h2 id="general_Saturday">Saturday</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <td>Time (UTC)</td>
                    <td>Track 1</td>
                    <td>Track 2</td>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-04T10:00:00Z">10:00</a></td>
                        <td rowspan="1" id="session_AXAUHX">
        <a href="/sessions/AXAUHX">Opening</a>
        <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-04T10:20:00Z">10:20</a></td>
                        <td rowspan="1" id="session_RRVNAM">
        <a href="/sessions/RRVNAM">Winds of Change in OpenStreetMap</a>
        <br><span class="speaker">Allan Mustard
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-04T10:45:00Z">10:45</a></td>
                        <td rowspan="1" id="session_8JQ7PY">
        <a href="/sessions/8JQ7PY">Drones for Community Mapping</a>
        <br><span class="speaker">Leigh
    </span>
</td>
<td rowspan="1" id="session_KDXFHZ">
        <a href="/sessions/KDXFHZ">4 County OSM Digitization Liberia – Lesson Learned</a>
        <br><span class="speaker">Tri Selasa
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-04T11:30:00Z">11:30</a></td>
                        <td rowspan="1" id="session_MJ8ZY8">
        <a href="/sessions/MJ8ZY8">OSM Routing Evaluation</a>
        <br><span class="speaker">Yantisa Akhadi
    </span>
</td>
<td rowspan="1" id="session_9L7U83">
        <a href="/sessions/9L7U83">Health Facilities Import</a>
        <br><span class="speaker">Sowmya Nayani
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-04T12:15:00Z">12:15</a></td>
                        <td rowspan="1" id="session_3FNPY7">
        <a href="/sessions/3FNPY7">Ranks for Rendering</a>
        <br><span class="speaker">Michael Reichert
    </span>
</td>
<td rowspan="1" id="session_3DMDQK">
        <a href="/sessions/3DMDQK">Economy, Human, and Policy Impact on Mapping in Public Sector</a>
        <br><span class="speaker">Asish Abraham Joseph
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-04T13:00:00Z">13:00</a></td>
                        <td rowspan="1" id="session_AZPHEF">
        <a href="/sessions/AZPHEF">Lightning Talks I</a>
        <br><span class="speaker">SotM Working Group
    </span>
</td>
<td rowspan="1" id="session_DZ8PWQ">
        <a href="/sessions/DZ8PWQ">Building mapping communities in rural Tanzania – challenges, successes and lessons learnt</a>
        <br><span class="speaker">Janet Chapman
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-04T13:45:00Z">13:45</a></td>
                        <td colspan="2" class="fill-darken0 scheduleBreak">lunch break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-04T15:00:00Z">15:00</a></td>
                        <td rowspan="1" id="session_YTHZWC">
        <a href="/sessions/YTHZWC">The Map in 360</a>
        <br><span class="speaker">Said Turksever
    </span>
</td>
<td rowspan="1" id="session_M9WYW9">
        <a href="/sessions/M9WYW9">The State of OpenStreetMap in Africa</a>
        <br><span class="speaker">Geoffrey Kateregga
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-04T15:45:00Z">15:45</a></td>
                        <td rowspan="1" id="session_YXNWNT">
        <a href="/sessions/YXNWNT">Buildings are the new Streets</a>
        <br><span class="speaker">Danijel Schorlemmer, Felix Delattre
    </span>
</td>
<td rowspan="1" id="session_EYMZXV">
        <a href="/sessions/EYMZXV">Overwiew on OpenStreetMap Togo Community</a>
        <br><span class="speaker">Ata Franck Akouete
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-04T16:30:00Z">16:30</a></td>
                        <td rowspan="1" id="session_VJS3LC">
        <a href="/sessions/VJS3LC">Mapcampaigner Redesign: The Data Quality Monitor For OSM</a>
        <br><span class="speaker">Jorge
    </span>
</td>
<td rowspan="1" id="session_AA8RXP">
        <a href="/sessions/AA8RXP">Creating an open data ecosystem for reviews of places and more</a>
        <br><span class="speaker">Dina Carabas
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-04T17:15:00Z">17:15</a></td>
                        <td rowspan="1" id="session_DYXWDC">
        <a href="/sessions/DYXWDC">There might have been a misunderstanding...</a>
        <br><span class="speaker">Frederik Ramm
    </span>
</td>
<td rowspan="1" id="session_V9J9JS">
        <a href="/sessions/V9J9JS">OSM data assessment in the area of Athens - Greece</a>
        <br><span class="speaker">Stathis G. Arapostathis
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-04T18:00:00Z">18:00</a></td>
                        <td rowspan="1" id="session_RHDUV9">
        <a href="/sessions/RHDUV9">An Incomplete History of Companies and Professionals in OpenStreetMap</a>
        <br><span class="speaker">Mikel Maron
    </span>
</td>
<td rowspan="1" id="session_JAG7JD">
        <a href="/sessions/JAG7JD">Turkish Law on National Geospatial Data and Its Implications Regarding OSM and the Community</a>
        <br><span class="speaker">Can Ünen, Orkut Murat Yılmaz
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-04T18:45:00Z">18:45</a></td>
                        <td colspan="2" class="fill-darken0 scheduleBreak">dinner break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-04T20:00:00Z">20:00</a></td>
                        <td rowspan="1" id="session_HLFEER">
        <a href="/sessions/HLFEER">Visualizing Gender of Street Names in Brazil</a>
        <br><span class="speaker">Bernardo Loureiro
    </span>
</td>
<td rowspan="1" id="session_LDGZ37">
        <a href="/sessions/LDGZ37">Participatory Budgeting &amp; Mapping with citizens and government</a>
        <br><span class="speaker">Erica Hagen, Lucy Fondo
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-04T20:45:00Z">20:45</a></td>
                        <td rowspan="1" id="session_CKYTVS">
        <a href="/sessions/CKYTVS">Send me a Postcard</a>
        <br><span class="speaker">Ilya Zverev
    </span>
</td>
<td rowspan="1" id="session_XAKBJT">
        <a href="/sessions/XAKBJT">Sustainability and OSM for Development</a>
        <br><span class="speaker">Erica Hagen
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-04T21:30:00Z">21:30</a></td>
                        <td rowspan="1" id="session_FZCM39">
        <a href="/sessions/FZCM39">Meet an OpenStreetMapper</a>
        <br><span class="speaker">Gregory Marler
    </span>
</td>
<td rowspan="1" id="session_3AJAEF">
        <a href="/sessions/3AJAEF">MapImpact: Mapping and social researchs by students in Cusco, Perú</a>
        <br><span class="speaker">Regina Campos Cc.
    </span>
</td>
                    </tr>
             </tbody>
        </table>
        <h2 id="general_Sunday">Sunday</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <td>Time (UTC)</td>
                    <td>Track 1</td>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-05T10:00:00Z">10:00</a></td>
                        <td rowspan="1" id="session_L3RTUK">
        <a href="/sessions/L3RTUK">MAPBEKS: Mapping of HIV Facilities and LGBT spaces in the Philippines on OpenStreetMap</a>
        <br><span class="speaker">Mikko Tamura
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-05T10:45:00Z">10:45</a></td>
                        <td rowspan="1" id="session_C9NGG3">
        <a href="/sessions/C9NGG3">OSM Deep Facts in Developing Country: Indonesia case study</a>
        <br><span class="speaker">Dwi Fanny Wulandari
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-05T11:30:00Z">11:30</a></td>
                        <td rowspan="1" id="session_AWT7K8">
        <a href="/sessions/AWT7K8">Gender Performance in OSM Mapping, Does It Matter?</a>
        <br><span class="speaker">Zainab Ramadhanis
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-05T12:15:00Z">12:15</a></td>
                        <td rowspan="1" id="session_KNU7L3">
        <a href="/sessions/KNU7L3">Earthquakes and OpenStreetMap</a>
        <br><span class="speaker">Danijel Schorlemmer
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-05T13:00:00Z">13:00</a></td>
                        <td rowspan="1" id="session_CDES3T">
        <a href="/sessions/CDES3T">The use of OpenStreetMap within the Italian Alpine Club</a>
        <br><span class="speaker">Luca Delucchi
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-05T13:45:00Z">13:45</a></td>
                        <td colspan="1" class="fill-darken0 scheduleBreak">lunch break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-05T15:00:00Z">15:00</a></td>
                        <td rowspan="1" id="session_373NDC">
        <a href="/sessions/373NDC">How to publish a multi-modal journey app based on OSM</a>
        <br><span class="speaker">Christoph Hanser
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-05T15:45:00Z">15:45</a></td>
                        <td rowspan="1" id="session_HYJA7W">
        <a href="/sessions/HYJA7W">Use of OSM data in formalizing informal public transport systems, case of Maputo-Mozambique</a>
        <br><span class="speaker">Remígio Chilaule
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-05T16:30:00Z">16:30</a></td>
                        <td rowspan="1" id="session_SAEWDP">
        <a href="/sessions/SAEWDP">What to do when local citizens do not consent? A discussion on how to navigate difficult field scenarios that involve local communities.</a>
        <br><span class="speaker">Shamilah Nassozi
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-05T17:15:00Z">17:15</a></td>
                        <td rowspan="1" id="session_JDNTHK">
        <a href="/sessions/JDNTHK">Minutely Extracts: Tools for nimble editing and downloading</a>
        <br><span class="speaker">Brandon Liu
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-05T18:00:00Z">18:00</a></td>
                        <td rowspan="1" id="session_QYYC9T">
        <a href="/sessions/QYYC9T">Lightning Talks II</a>
        <br><span class="speaker">SotM Working Group
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-05T18:45:00Z">18:45</a></td>
                        <td colspan="1" class="fill-darken0 scheduleBreak">dinner break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-05T20:00:00Z">20:00</a></td>
                        <td rowspan="1" id="session_RANPLK">
        <a href="/sessions/RANPLK">Pedestrians First</a>
        <br><span class="speaker">Taylor Reich
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-05T20:45:00Z">20:45</a></td>
                        <td rowspan="1" id="session_JYWQX3">
        <a href="/sessions/JYWQX3">Trademarks &amp; OSMF</a>
        <br><span class="speaker">Kathleen Lu
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-05T21:30:00Z">21:30</a></td>
                        <td rowspan="1" id="session_7LWKCA">
        <a href="/sessions/7LWKCA">OSM Awards</a>
        <br><span class="speaker">SotM Working Group
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2020-07-05T21:50:00Z">21:50</a></td>
                        <td rowspan="1" id="session_VTDQPZ">
        <a href="/sessions/VTDQPZ">Closing</a>
        <br><span class="speaker">SotM Working Group
    </span>
</td>
                    </tr>
             </tbody>
        </table>

