    <!-- About Section -->
    <section id="about" class="pad8y contain page">
      <div class="limiter clearfix pad4y">
        <div class="col8 clearfix space-bottom2 contain">
          <div class="col10 margin2r space-bottom2">
            <h1 class="space-bottom2">State of the Map 2021</h1>
            <p>In 2021 the State of the Map conference was held as an online conference <a href="https://2020.stateofthemap.org#about">again</a>. Please consider signing up for updates via our <a href="https://2020.stateofthemap.org#newsletter">newsletter</a>, join our <a href="https://t.me/sotm2018">telegram group chat</a> and follow us on <a href="https://twitter.com/sotm">Twitter</a>.</p>
            <p>Your organising team.</p>
          </div>
        </div>
        <div class="col4 clearfix contain">
          <h3 class="small-title uppercase">Where?</h3>
          <p>
            Online Conference.<!--<br>
            Free of charge.<br>
            No registration required.-->
          </p>

          <h3 class="small-title uppercase">When?</h3>
          <p>
            July 9 - 11, 2021
          </p>

          <h3 class="small-title uppercase" style="height:0">&nbsp;</h3>
          <p>
            <a href="https://openstreetmap.org"><img src="img/osm.svg" style="height:85px; margin-top:20px;" /></a>
          </p>
        </div>
      </div>
    </section>
