    <!-- About Section -->
    <section id="about" class="pad8y contain page">
      <div class="limiter clearfix pad4y">
        <div class="col8 clearfix space-bottom2 contain">
          <div class="col10 margin2r space-bottom2">
            <h1 class="space-bottom2">State of the Map 2022</h1>
            <p>State of the Map is the annual event for all mappers and OpenStreetMap users. In 2022 the State of the Map conference will be a three day hybrid conference taking place in Florence, Italy and online. Please consider signing up for updates via our <a href="https://2022.stateofthemap.org#newsletter">newsletter</a>, join our <a href="https://t.me/sotm2018">telegram group chat</a> and follow us on <a href="https://twitter.com/sotm">Twitter</a>.</p>
            <p>The conference will take place before the <a href="https://2022.foss4g.org">FOSS4G 2022 conference</a>, which is also in Firenze on August 22 to 28, 2022. The local team is committed to providing participants with a safe conference environment in accordance with the latest safety and health guidelines set by authorities.</p>
            <p>Your organising team.</p>
            <p class="logo">
                <img src="img/logo/sotm_2022.svg" style="width:50%;">
            </p>
          </div>
        </div>
        <div class="col4 clearfix contain">
          <h3 class="small-title uppercase">Where?</h3>
          <p>
            <a href="venue">Florence, Italy.</a>
          </p>

          <h3 class="small-title uppercase">When?</h3>
          <p>
            August 19 - 21, 2022
          </p>

          <h3 class="small-title uppercase"><a href="events">Social Event</a></h3>
          <p>
            On Saturday, August 20 at <a href="https://www.mercatocentrale.com/florence/">Mercato&nbsp;Centrale</a> (<a href="https://www.openstreetmap.org/?mlat=43.7766&mlon=11.2532#map=16/43.7766/11.2532">location</a>)
          </p>

          <h3 class="small-title uppercase">Additional Events</h3>
          <ul>
            <li>Friday, August 19: <a href="https://unsummit.hotosm.org/">HOT unSummit at SotM</a></li>
            <li>Friday, August 19 (evening): <a href="https://forms.gle/MK89amh4zG5hKFdy7">HOT unSummit Social at SotM</a></li>
            <li>Monday, August 22: <a href="https://mobilizon.it/events/5a84127d-120c-4a83-a563-5721260c862b">YouthMappers Documentary Premiere</a></li>
          </ul>

          <h3 class="small-title uppercase" style="height:0">&nbsp;</h3>
          <p>
            <a href="https://openstreetmap.org"><img src="img/osm.svg" style="height:85px; margin-top:20px;" /></a>
          </p>
          <p>
            <a href="https://wiki.wikimedia.it/"><img src="img/wikimedia-italia.png" style="height:85px; margin-top:20px;" /></a>
          </p>
        </div>
      </div>
    </section>
