    <!-- About Section -->
    <section id="about" class="pad8y contain dark page">
      <div class="limiter clearfix pad4y">
        <div class="col8 clearfix space-bottom2 contain">
          <div class="col10 margin2r space-bottom2">
            <h1 class="space-bottom2">State of the Map</h1>
            <p>
              State of the Map is the annual event for <em>all mappers and OpenStreetMap users</em>. The three day event in <a href="https://www.openstreetmap.org/#map=11/-33.9992/18.5429">Cape Town</a> hosts talks, discussions and workshops all around the free and open map of the world.
            </p>

            <h2 class="space-bottom2 space-top4">The Mother City</h2>
	    <p>The venue is the University of Cape Town's (UCT) main campus in the Rondebosch suburb, which we also used for <a href="https://debconf16.debconf.org/">DebConf16</a>. Cape Town, also known as <em>The Mother City</em>, is Africa's southern most city with a population of 4 million people.</p>

	  </div>
        </div>
        <div class="col4 clearfix contain">
          <h3 class="small-title uppercase">Where?</h3>
          <p>Cape Town, South Africa</p>

          <h3 class="small-title uppercase">State of the Map</h3>
          <p>July <span class="numeral">3 - 5, 2020</span></p>

          <!-- <h3 class="small-title uppercase">Additional Events</h3>
          <p>
            <a href="https://summit2019.hotosm.org/">HOT Summit</a><br>
            September <span class="numeral">19 – 20, 2019</span>
          </p>
          <p>
              <a href="http://k1z.blog.uni-heidelberg.de/2019/08/20/interested-in-time-dependent-routing/" target="_blank">TARDUR Workshop</a><br />
              September <span class="numeral">20, 2019</span>
          </p>
             <h3 class="small-title uppercase">Volunteering</h3>
             <p>Thanks to all <a href="{{site.baseurl}}/attending/#volunteering">volunteers at SotM <span class="numeral">2019</span></a>!</p>

	  -->
          <h3 class="small-title uppercase" style="height:0">&nbsp;</h3>
          <p>
            <a href="https://openstreetmap.org"><img src="logos/osm.svg" style="height:85px; margin-top:20px;" /></a>
	  </p> <!-- 
          <p>
            <a href="https://www.uni-heidelberg.de/"><img src="logos/uni_hd.png" style="height:90px; margin-top:10px;" /></a>
          </p>
          <p>
            <a href="https://www.fossgis.de/"><img src="logos/fossgis.svg" style="height:50px; margin-top:10px;" /></a>
	  </p> -->
        </div>
      </div>
    </section>
