<!-- Footer -->
<footer class="contain" id="footer">
    <div class="limiter">
      <div class="pad2y clearfix">
        <div class="space-bottom1 col12 clearfix footer-links">
          <div class="col3 pad4x hide-mobile">
          </div>
          <nav class="col3 pad2x">
            <a class="block" href="{{site.baseurl}}/calls/general"block>Call for Participation</a>
            <!--<a class="block" href="https://lists.openstreetmap.org/pipermail/science/2021-February/000093.html">Call for applications for the Scientific Committee</a>-->
            <a class="block" href="{{site.baseurl}}/calls/academic">Call for Academic Abstracts</a>
            <a class="block" href="{{site.baseurl}}/calls/posters">Call for Posters</a>
            <a class="block" href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2022/registration_lightning_talks">Call for Lightning Talks</a>
            <!--<a class="block" href="{{site.baseurl}}/calls/translators">Call for Translation Volunteers</a>-->
            <!--<a class="block" href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2021/registration_lightning_talks">Call for Lightning Talks</a>-->
            <a class="block" href="{{site.baseurl}}/travel_grant_programme">Travel Grant Programme</a>
            <a class="block" href="{{site.baseurl}}/codeofconduct/">Code of conduct</a>
          </nav>
          <nav class="col3 pad2x">
            <a class="block" href="{{site.baseurl}}/programme/">Programme</a>
            <a class="block" href="{{site.baseurl}}/posters/">Posters</a>
            <!--<a class="block" href="https://doi.org/10.5281/zenodo.5116434">Proceedings of the Academic&nbsp;Track</a>-->
            <!--<a class="block" href="{{site.baseurl}}/artwork/">Artwork</a>-->
            <a class="block" href="{{site.baseurl}}/tickets/">Tickets</a>
            <a class="block" href="{{site.baseurl}}/venue/">Venue</a>
            <a class="block" href="{{site.baseurl}}/events/">Social Event</a>
          </nav>
          <nav class="col3 pad2x">
            <a class="block" href="https://twitter.com/sotm">Twitter&nbsp;<span class="icon twitter"></span></a>
            <a class="block" href="https://www.youtube.com/channel/UCLqJsr_5PfdvDFbgv1qp2aQ">Youtube&nbsp;<span class="icon video"></span></a>
            <a class="block" href="https://t.me/sotm2018">Telegram<span class="icon compass"></span></a>
            <a class="block" href="https://github.com/openstreetmap/stateofthemap-2022">GitHub&nbsp;<span class="icon github"></span></a>
            <a class="block" href="https://blog.openstreetmap.org/">OSM blog</a>
            <a class="block" href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2022">Wiki page</a>
          </nav>
          <nav class="col3">
            <img src="{{site.baseurl}}/img/logo/sotm_2022-logo.svg" class="logo" />
          </nav>
        </div>
      </div>
        <div class="center">
          <p>
            <a href="mailto:sotm@openstreetmap.org"><span class="icon mail" aria-hidden="true"></span>&nbsp;sotm@openstreetmap.org</a> - <a href="{{site.baseurl}}/imprint/">Imprint</a>
          </p>
        </div>
      </div>
</footer>
