<!-- Footer -->
<footer class="contain" id="footer">
    <div class="limiter">
      <div class="pad2y clearfix">
        <div class="space-bottom1 col12 clearfix footer-links">
          <div class="col3 pad4x hide-mobile">
          </div>
          <nav class="col3 pad2x">
            <a href="{{site.baseurl}}/cfp" class="animate block">Call for Presentations</a>
            <a href="{{site.baseurl}}/cfp/academic" class="animate block">Call for Academic Abstracts</a>
            <a href="https://blog.openstreetmap.org/2020/01/18/sotm2020-applications-for-scholarships-open" class="animate block">Scholarship Application</a>
            <a href="{{site.baseurl}}/calls/posters">Call for Posters</a>
          </nav>
          <nav class="col3 pad2x">
            <a class="{% if page.url contains '/programme' %}active{% endif %}" href="{{site.baseurl}}/programme/">Programme</a>
            <a href="{{site.baseurl}}/codeofconduct/" class="animate block">Code of conduct</a>
          </nav>
          <nav class="col3 pad2x">
            <a href="https://twitter.com/sotm" class="animate block">Twitter&nbsp;<span class="icon twitter"></span></a>
            <a href="https://www.youtube.com/channel/UCLqJsr_5PfdvDFbgv1qp2aQ" class="animate block">Youtube&nbsp;<span class="icon caret-right"></span></a>
            <a href="https://blog.openstreetmap.org/" class="animate">OSM blog</a>
            <a href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2020" class="animate block">Wiki page</a>
          </nav>
        </div>
      </div>
        <div class="center">
          <p>
            Copyright &copy; <span class="numeral">20{{ site.time | date: '%y' }}</span> - <a href="mailto:sotm@openstreetmap.org" class="animate light"><span class="icon mail" aria-hidden="true"></span>&nbsp;sotm@openstreetmap.org</a> - <a href="{{site.baseurl}}/imprint/" class="animate">Imprint</a>
          </p>
        </div>
      </div>
</footer>
