    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="limiter">
                <!--<div class="logo">
                    <img src="img/logo/sotm_2022.svg">
                    <a href="#about" class="btn btn-circle page-scroll page-scroll-silent">
                        <i class="icon big down animated"></i>
                    </a>
                </div>-->

                <div class="attending">
                  <img src="img/logo/sotm_2022.svg">
                  <!--<h1>Attending State of the Map 2022</h1>
                  <p>Attending in person in Florence? You can here find more information about the <a href="/venue">venue</a>, the <a href="/events">social event</a> and the <a href="/programme">programme</a>.</p>
                  <p>Attending remotely? Head over to the <a href="https://sotm2022.venueless.events/">online conference platform</a> if you bought the Venueless ticket.</p>
                  <p>Or watch the free live <a href="/stream">stream</a> here on the website.</p>-->
                  <h2>What's more?</h2>
                  <p>
                    <ul>
                      <li>🎓 Proceedings of Academic Track are <a href="https://zenodo.org/record/7004791">published on Zenodo</a>.</li>
                      <li>🖼️ Posters are published <a href="/posters/">on the website</a>.</li>
                      <li>🎥 The recordings of the talks will be made available after the conference.</li>
                      <li>Follow <a href="https://twitter.com/sotm">@SotM</a> on Twitter and use the hashtag <a href="https://twitter.com/hashtag/sotm2021">#sotm2022</a>.</li>
                      <li>Connect with others in our <a href="https://t.me/sotm2018">telegram group chat</a> and share your State of the Map experience.</li>
                    </ul>
                  </p>
                  <p>Thanks to our <a href="/#sponsors">sponsors</a> for supporting SotM 2022!</p>
                  <h2>And next year?</h2>
                  <p style="text-align:left">
                    Your community can propose to host SotM 2023!
                    Submit your proposal by August 27, 2022 on the <a href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2023/Call_for_venues">OSM wiki</a>.
                  </p>
              </div>
            </div>
        </div>
        <div class="credits">
          Logo: Feye Andal &mdash; Background: © Petar Milošević <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>
        </div>
    </header>
