    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="limiter">
                <div class="logo">
                    <img src="img/logo-square.svg" />
                    <a href="#about" class="btn btn-circle page-scroll page-scroll-silent">
                        <i class="icon big down animated"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="credits">
		Photo: Adrian Frith (CC-BY-SA 3.0), Logo: Edson Nicolai (CC-BY-SA 4.0)
        </div>
    </header>
