    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="limiter">
                <div class="logo">
                    <a href="#about" class="btn btn-circle page-scroll page-scroll-silent">
                        <i class="icon big down animated"></i>
                    </a>
                </div>

                <div class="attending">
                    <img src="img/sotm_2021-logo-small.png"/>
                    <h1>State of the Map 2021</h1>
                    <p>Thank you for attending!</p>
                </div>
            </div>
        </div>
        <div class="credits">
          Logo: Julie Mattelaer (CC-BY-SA 4.0)
        </div>
    </header>
