 <section class="contain dark" id="sponsors">

	 <div class="limiter pad4y clearfix center" id="sponsoring-interested">
		<h1 class="space-bottom4">Interested in sponsoring?</h1>
		<p>
			Take a look at our <a href="{{site.baseurl}}/sponsoring">sponsorship information</a> and contact us via email at <a href="mailto:sponsor-sotm@openstreetmap.org">sponsor-sotm@openstreetmap.org</a>!
		</p>
	</div>

	<div class="limiter pad4y clearfix">
		<h1 class="space-bottom2 center">Our sponsors</h1>
    <!--<p class="space-bottom2 center" id="sponsoring-booths">Meet our gold and silver sponsors in their <a href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2020/self-organized_sessions#Sponsor_Booths">Virtual Sponsor Booths</a> during the conference!</p>-->

		<!--<h3 class="clearfix small-title sponsors platinum">Platinum</h3>
		<div class="clearfix space-bottom2 space-top4 platinum">
			<a class="col2 pad2 space-bottom2 sponsor" href="mailto:sponsor-sotm@openstreetmap.org">
				<img src="img/sponsors.png" />
			</a>
		</div>-->

		<h3 class="clearfix small-title sponsors gold">Gold</h3>
		<div class="clearfix space-top2 space-bottom4">
			<div class="col2 pad2 space-bottom2 sponsor">
        <a href="https://www.facebook.com/">
		      <img src="img/sponsors/facebook.png" style="filter: brightness(0); margin:10px -8px 6.5px 0">
        </a>
			</div>
			<div class="col2 pad2 space-bottom2 sponsor">
        <a href="https://www.mapbox.com/">
				  <img src="img/sponsors/mapbox.png" style="filter: brightness(0); margin:16px 0">
        </a>
      </div>
			<div class="col2 pad2 space-bottom2 sponsor">
        <a href="https://www.grab.com/">
				  <img src="img/sponsors/grab.png" style="margin:0 0 10px; filter: brightness(0)">
        </a>
      </div>
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://www.esri.com/">
          <img src="img/sponsors/esri.png" style="margin:8px 0 7px; filter: invert()">
        </a>
        <!--<br><a href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2020/self-organized_sessions#Esri" title="get virtual conference booth info of this sponsor">sponsor booth info</a>-->
			</div>

			<a class="col2 pad2 space-bottom2" href="mailto:sponsor-sotm@openstreetmap.org">
				<img src="img/sponsors.png" />
			</a>
		</div>

		<h3 class="clearfix small-title sponsors silver">Silver</h3>
		<div class="clearfix space-top2 space-bottom4">
			<div class="col2 pad2 space-bottom2 sponsor">
        <a href="https://nextbillion.ai">
          <img src="img/sponsors/nextbillionai.png" style="filter: brightness(0)">
        </a>
      </div>
			<div class="col2 pad2 space-bottom2 sponsor">
        <a href="https://kaart.com">
          <img src="img/sponsors/kaart.png" style="filter: brightness(0); margin-top:-8px">
        </a>
      </div>
			<div class="col2 pad2 space-bottom2 sponsor">
        <a href="https://critigen.com">
          <img src="img/sponsors/critigen.png" style="filter: invert(); margin-top: 12px">
        </a>
      </div>
			<a class="col2 pad2 space-bottom2" href="mailto:sponsor-sotm@openstreetmap.org">
				<img src="img/sponsors.png" />
			</a>
		</div>

		<h3 class="clearfix small-title sponsors bronze">Bronze</h3>
		<div class="clearfix space-top2 space-bottom4">
			<div class="col2 pad2 space-bottom2 sponsor">
        <a href="https://geofabrik.de">
          <img src="img/sponsors/geofabrik.png" style="margin-top: 8px; filter: saturate(0) brightness(0.65) contrast(2);">
        </a>
      </div>
			<div class="col2 pad2 space-bottom2 sponsor">
        <a href="https://opencagedata.com/" style="padding:1em; filter: brightness(0)">
  				<img src="img/sponsors/opencagedata.png">
  			</a>
      </div>
			<a class="col2 pad2 space-bottom2" href="mailto:sponsor-sotm@openstreetmap.org">
				<img src="img/sponsors.png" />
			</a>
		</div>

    <!--
		<h3 class="clearfix small-title sponsors supporter">Supporter</h3>

		<div class="clearfix space-top2 space-bottom4 supporter">
			<a href="mailto:sponsor-sotm@openstreetmap.org" class="pad2 sponsor"><span style="font-style: italic; opacity: 0.6;">your name here</span></a>
		</div>
    -->

	</div>

</section>
