<section class="contain dark" id="sponsors">

	<div class="limiter pad4y clearfix center" id="sponsoring-interested">
		<h1 class="space-bottom4">Interested in sponsoring?</h1>
		<p>
			Take a look at our <a href="{{site.baseurl}}/Sponsorship_SotM2022.pdf">sponsorship prospectus</a> and contact us via email at <a href="mailto:sponsor-sotm@openstreetmap.org">sponsor-sotm@openstreetmap.org</a>!
		</p>
	</div>

	<div class="limiter pad4y clearfix">
		<h1 class="space-bottom2 center">Our sponsors</h1>
		<!--<p class="space-bottom2 center" id="sponsoring-booths">Meet our gold and silver sponsors in their <a href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2020/self-organized_sessions#Sponsor_Booths">Virtual Sponsor Booths</a> during the conference!</p>-->

		<h3 class="clearfix small-title sponsors platinum">Platinum</h3>
		<div class="clearfix space-bottom2 space-top4 platinum">
			<a class="col2 pad2 space-bottom2 sponsor" href="mailto:sponsor-sotm@openstreetmap.org">
				<img src="img/sponsors.png" />
			</a>
		</div>

		<h3 class="clearfix small-title sponsors gold">Gold</h3>
		<div class="clearfix space-top2 space-bottom4">
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://nextbillion.ai">
					<img src="img/sponsors/nextbillionai.png" style="height: 80px; width: auto; margin-top: -8px; margin-left: 20px;" alt="nextbillion.ai">
				</a>
			</div>
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://esri.com">
					<img src="img/sponsors/esri.png" style="filter: invert(); margin-top: 8px;" alt="ESRI">
				</a>
			</div>
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://tomtom.com">
					<img src="img/sponsors/tomtom.svg" style="margin-top: 24px;" alt="TomTom">
				</a>
			</div>

			<a class="col2 pad2 space-bottom2" href="mailto:sponsor-sotm@openstreetmap.org">
				<img src="img/sponsors.png" />
			</a>
		</div>

		<h3 class="clearfix small-title sponsors silver">Silver</h3>
		<div class="clearfix space-top2 space-bottom4">
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://www.youthmappers.org">
					<img src="img/sponsors/youthmappers.png" style="margin-top: 10px" alt="YouthMappers">
				</a>
			</div>
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://opensource.google">
					<img src="img/sponsors/google.svg" style="margin-top: 2px" alt="YouthMappers">
				</a>
			</div>
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://www.mapbox.com/">
					<img src="img/sponsors/mapbox.svg" style="margin-top: 8px" alt="Mapbox">
				</a>
			</div>

			<a class="col2 pad2 space-bottom2" href="mailto:sponsor-sotm@openstreetmap.org">
				<img src="img/sponsors.png" />
			</a>
		</div>

		<h3 class="clearfix small-title sponsors bronze">Bronze</h3>
		<div class="clearfix space-top2 space-bottom4">
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://www.locana.co">
					<img src="img/sponsors/locana.svg" style="margin-top: 10px" alt="Locana">
				</a>
			</div>
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://osmand.net/">
					<img src="img/sponsors/osmand.svg" style="" alt="OsmAnd">
				</a>
			</div>
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://www.hotosm.org/">
					<img src="img/sponsors/hotosm.svg" style="" alt="Humanitarian OpenStreetMap Team">
				</a>
			</div>

			<a class="col2 pad2 space-bottom2" href="mailto:sponsor-sotm@openstreetmap.org">
				<img src="img/sponsors.png" />
			</a>
		</div>

		<h3 class="clearfix small-title sponsors supporter">Supporter</h3>

		<div class="clearfix space-top2 space-bottom4 supporter">
			<a href="mailto:sponsor-sotm@openstreetmap.org" class="pad2 sponsor"><span style="font-style: italic; opacity: 0.6;">your name here</span></a>
		</div>

	</div>

</section>

