<section class="center page" id="streaming">
	<div class="limiter pad4y">
    <h1 class="pad2y dark">Video Recordings</h1>
    <div class="pad2y dark">
			<!--<p>
				Recorded videos of the State of the Map sessions are available from the <a href="/program">programme</a> page. In addition, they are also available at <a href="https://media.ccc.de/c/sotm2020">media.ccc.de</a> and on <a href="https://www.youtube.com/channel/UCLqJsr_5PfdvDFbgv1qp2aQ/videos">YouTube</a>.
			</p>-->
			<p>
				Recordings of the State of the Map 2020 sessions will be available soon on this page.<br>
				In the meantime you can watch the live stream again at the <a href="https://streaming.media.ccc.de/sotm2020/relive">re-live</a> archive of the C3VOC.
			</p>
      <p>
				Huge thanks to the video team and <a href="https://twitter.com/c3voc">C3VOC</a> for streaming and recording the conference!
			</p>
    </div>
  </div>
</section>
