<section class="center page" id="streaming">
	<div class="limiter pad4y">
    <h1 class="pad2y dark">Video Recordings</h1>
    <div class="pad2y dark">
			<p>
				Recordings of the State of the Map 2020 sessions are available directly from the <a href="/programme">programme</a>, on <a href="https://media.ccc.de/c/sotm2020">media.ccc.de</a> and on <a href="https://www.youtube.com/playlist?list=PLQNy8KsDknCoPMylvJhmF2z7qu1PQ47Nf">YouTube</a>.
			</p>
      <p>
				Huge thanks to the video team and <a href="https://twitter.com/c3voc">C3VOC</a> for streaming and recording the conference!
			</p>
    </div>
  </div>
</section>
