---
layout: page-with-toc
title: Programme
titlecontent: ""
headings: "general_Friday,general_Saturday,general_Sunday,breakout"
---

<p id="overview">State of the Map 2022 will take place from <b>19 to 21 August 2022</b> in Florence, Italy. We have created an exciting programme with you—the OpenStreetMap community. For the duration of the conference, we have rooms set aside for breakout sessions that can be booked by groups of mutual interest, or used without prior planning.</p>
<ul>
  <li><a href="#general_Friday">Friday, 19 August</a>: conference begins with an opening session, followed by a day of presentations and workshops</li>
  <li><a href="#general_Saturday">Saturday, 20 August</a>: day 2 of more presentations and workshops</li>
  <li><a href="#general_Sunday">Sunday, 21 August</a>: the final day continues with more talks and workshops plus a whole track of academic talks selected by our scientific committee</li>
</ul>

<p>If you want to use an app to get reminders for talks in the schedule, you can use <a href="https://play.google.com/store/apps/details?id=net.gaast.giggity">Giggity</a>.</p>
<p>More information on schedules for calendars and apps can be found <a href="https://sotm.osmz.ru/2022.html">here</a>.</p>

<!--<h2 id="timezone-switcher">Time Zone</h2>
<p>Change time zone:
<select id="city-select" size="1" onchange="updateTZ(this.value)" style="width:10em">
  <option value="Europe/Rome">Italy</option>
  <option value="UTC">UTC</option>
</select>
</p>-->

{% include schedule/_general.html %}

<h3 id="breakout">Self organized sessions</h3>
<p>
  Besides the main programme of SotM we offer space for self-organized sessions for discussions about topics that well placed in smaller rounds. The only requirement that we have to your topic is that it has to be related to OpenStreetMap. We use a <a href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2022/self-organized_sessions">dedicated OSM wiki page</a> for the organization of <em>online</em> self-organized sessions. For <em>on-site</em> self-organized sessions, we will set up a white board at the conference venue to reserve a time slot and room. The only requirements we have is that the participants have a conference ticket which grants them access to the conference platform that we use and that they abide to the conference's <a href="/codeofconduct">Code of Conduct</a>.
</p>

<!--{% include _timezoneswitcher.html %}-->
