---
layout: page-with-toc
title: Programme
titlecontent: ""
headings: "overview,download,proceedings_academic_track,general_Saturday,general_Sunday"
---

<h2 id="overview">Overview</h2>

<p>State of the Map 2020 is taking place online on <b>4 and 5 July 2020</b>. We have created an exciting program with you—the OpenStreetMap community. For the duration of the conference, we have chat rooms set aside for virtual sponsor booths as well as breakout sessions that can be booked by groups of mutual interest, or used without prior planning.</p>

<ul>
  <li><a class="page-scroll" href="#general_Saturday">Saturday, 4 July</a>: conference begins with an opening session, followed by a day of presentations</li>
  <li><a class="page-scroll" href="#general_Sunday">Sunday, 5 July</a>: day 2 of more presentations plus a whole track of academic talks selected by our <a href="../cfp/academic#committee">scientific committee</a></li>
</ul>

<h2 id="download">Downloads</h2>
<p>
  Take a look at the <a href="{{site.baseurl}}/booklet.pdf" download="SotM2020-programme-booklet.pdf">conference booklet</a> for a printable version of the schedule.
</p>
<p>
  For smartphone schedule viewers or calendar apps there is a machine-readable version of the schedule available at <a href="https://sotm.osmz.ru/2020.html">https://sotm.osmz.ru/2020.html</a>.
</p>

<h2 id="proceedings_academic_track">Proceedings of the Academic Track</h2>
<p>
  The academic committee published the conference track's proceedings on zenodo under the following link: <a href="https://zenodo.org/communities/sotm-2020">zenodo.org/communities/sotm-2020</a>. There you can find the full abstracts of all academic talks of this year's state of the map (which are indicated with a 🎓 symbol below), as well as an editorial written by the <a href="../cfp/academic/#committee">scientific committee</a>.
</p>

<h2 id="timezone-switcher">Time Zone</h2>
<p>Change time zone:
<select id="city-select" size="1" onchange="updateTZ(this.value)" style="width:10em">
    <option value="UTC">UTC</option>
</select>
</p>

<!--<p>If you want to use an app to get reminder for talks in the schedule, you can use <a href="https://play.google.com/store/apps/details?id=net.gaast.giggity">Giggity</a>. Alternatively, you can get the whole schedule as <a href="http://sotm.osmz.ru/19.ics">calendar file</a>.</p>

<p>The programme of the academic track can be found on <a href="../academic_programme/">a separate page</a>.</p>-->

{% include schedule/_general.html %}

{% include _timezoneswitcher.html %}
